{
  "plugins": [
    ["transform-async-to-module-method", {
      "module": "rx",
      "method": "Rx.Observable.wrap"
    }],
    "transform-es2015-modules-commonjs",
    "transform-es2015-destructuring",
    "transform-es2015-parameters"
  ]
}